.privacy-title {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  left: 0.75em;
  top: -1.25em;
  max-width: 90%;
  // outline: 1px solid red;
  // flex-wrap: wrap;
}
.privacy-body {
  font-family: 'Baloo Tammudu 2', Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:#420B3B;
  position:relative;
  line-height: 1.75em;
  left: 1.5em;
  top: -3.5em;
  width: 92.5em;
  column-count: 2;
  column-gap: 11em;
  // outline: 1px solid red;
}